/* General */

body {
  max-width: 1366px;
  min-width: 1024px;
}

/* Navbar */

#navbar-container {
  position: relative;
  z-index: 100;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  height: 41px;
  width: 100%;
  padding: 3px 15px;
  margin: 0;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
  border-top: 0.5px solid lightgray;
  border-bottom: 0.5px solid lightgray;
}

#NYT-logo {
  height: 25px;
  width: 225px;
  padding: 5px;
}

.nav-buttons {
  padding: 11px 12px 8px;
  line-height: 11px;
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

#nav-link {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 7.5px;
  letter-spacing: 0.02em;
}

#left-bar {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.nav-icons {
  padding-top: 5px;
  font-weight: 200;
}

/* Social media bar */

.social-media-bar {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}

.social-icons {
  background-color: #eee;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
}

.icon-twitter,
.icon-mail-forward,
.icon-envelope,
.icon-bookmark-empty,
.icon-comment-alt {
  padding: 7px;
}

.icon-facebook {
  padding: 7px 11px;
}

.user-icons {
  font-size: 24px;
  line-height: 30px;
}

/* Header */

#page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 60px;
}

#article-header {
  width: 600px;
}

#main-title {
  font-size: 40px;
  font-weight: 700;
  font-style: oblique;
  line-height: 43px;
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  margin-bottom: 20px;
}

#social-media-header {
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
  height: 32px;
}

#header-image-container {
  width: 945px;
  margin-bottom: 15px;
}

#header-image {
  width: 100%;
  height: 531.5px;
}

.image-caption {
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 15px;
  line-height: 1.25rem;
}

.credit {
  color: #888;
  font-size: 12px;
}

#article-author-date {
  width: 600px;
  margin-bottom: 25px;
}

#author-caption {
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  color: #333;
  font-weight: 600;
  margin-bottom: 25px;
}

#link-author {
  color: inherit;
}

#article-date {
  font-size: 15px;
  font-weight: lighter;
}

/* Article */

.article-text-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.content-paragraph {
  color: #333;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 10px 0;
  width: 600px;
}

.wide-ad {
  height: 250px;
  width: 100%;
  padding: 15px 0;
  margin: 30px 0;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 10px;
  border-top: 1px solid rgb(243, 243, 243);
  border-bottom: 1px solid rgb(243, 243, 243);
  background-color: rgb(247, 247, 247);
  color: #ccc;
  text-align: center;
}

/* Inflation theory Image */

#inflation-theory {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 945px;
  margin: 0 auto;
}

#inflation-content {
  position: relative;
  margin-top: 10px;
}

#inflation-image {
  height: 576px;
  width: 100%;
}

#inflation-credit {
  width: 100%;
}

#inflation-credit > p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  text-align: left;
  color: #333;
  margin: 10px 0;
}

#inflation-text {
  display: grid;
  position: absolute;
  bottom: 0;
  width: 945px;
  height: 576px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "infl-11 infl-12 infl-13 infl-14"
  "infl-21 infl-22 infl-23 infl-24";
}

#inflation-text div {
  padding-top: 65%;
  margin: 2px;
}

#inflation-text p {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
}

#inflation-text span {
  font-weight: 700;
}

/* Video */

.media-container {
  margin: auto;
  width: 600px;
}

.media-container > iframe {
  width: 100%;
  height: 338px;
}

.media-container > figcaption {
  width: 100%;
}

/* Bicep2 Image */

#bicep2-image {
  width: 600px;
  height: 400px;
}

.subtitle {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-weight: 600;
  font-size: 20px;
  width: 600px;
  margin: 15px 0;
}

.summary-text {
  width: 945px;
}

/* Aside Editor's Choice */

.ed-tit {
  grid-area: ed-header;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.ed-img1 {
  grid-area: ed-11;
}

.ed-link1 {
  grid-area: ed-12;
}

.ed-img2 {
  grid-area: ed-21;
}

.ed-link2 {
  grid-area: ed-22;
}

.ed-img3 {
  grid-area: ed-31;
}

.ed-link3 {
  grid-area: ed-32;
}

#editors-choice {
  height: 321px;
  width: 210px;
  position: absolute;
  right: 40px;
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-rows: 29px 1fr 1fr 1fr;
  grid-template-areas:
  "ed-header ed-header"
  "ed-11 ed-12"
  "ed-21 ed-22"
  "ed-31 ed-32";
}

#editors-choice img {
  height: 75px;
  width: 75px;
}

#editors-choice a {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.ed-link1,
.ed-link2,
.ed-link3 {
  padding-left: 8px;
}

.ed-img1,
.ed-img2,
.ed-img3,
.ed-link1,
.ed-link2,
.ed-link3 {
  align-self: center;
}

.article-foot {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: smaller;
  color: #888;
  line-height: 1;
}

/* Article Bottom */

#bottom-of-article {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: smaller;
  color: #888;
  line-height: 1;
  width: 600px;
  margin: 0 auto;
}

#bottom-of-article a {
  color: #888;
}

#comment {
  width: 50%;
  margin-right: 15px;
}

.comment-section {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

/* Grid for Newsletter, Links and more on space/astronomy*/

.grid-suggested-content {
  padding-top:30px;
  margin-right: 100px;
  margin-left:100px;
  display:grid;
  grid-template-columns: 3fr 3fr 3fr 4fr;
  grid-template-rows:auto 300px auto 300px 300px auto 300px;
  grid-gap:20px;
  grid-template-areas: 
   "t1 t1 t1 t2"
   "stile stile stile popular"
   "t3 t3 t3 popular"
   "spce spce spce popular"
   "spce spce spce popular"
   "t4 t4 t4 popular"
   "edpck edpck edpck popular"
   "edpck edpck edpck popular";
}

/* Layout of end of article tiles*/

.t1 {
  grid-area: t1;
}

.t2 {
  grid-area: t2;
}

.t3 {
  grid-area: t3;
}

.t4 {
  grid-area: t4;
}

.stile {
  grid-area: stile;
}

.popular {
  grid-area: popular;
}

.spce {
  grid-area: spce;
}

.edpck {
  grid-area: edpck;
}

/* Suggested Newsletter for you */

.tip {
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  align-items:center;
  justify-items:stretch;
  grid-template-areas:
    "title title"
    "t1 l1"
    "t2 l2"
    "t3 l3" ;
  align-self: start;
   justify-self:right;
  width: 200px;
  text-align: right;
  
}

/* Tip grid arrangement */

.t1 {
  grid-area: t1;
}

.t2 {
  grid-area:t2;
}

.t3 {
  grid-area:t3;
}

.l1 {
  grid-area:l1;
}

.l2 {
  grid-area:l2;
}
.l3 {
  grid-area: l3;
}

.tip img {
  width: 100%;
  margin: 10px; 
}

.tip a {
  color:#333;
  font-size: 0.8em;
  text-decoration: none;
}

.tip .tip-title {
  grid-area: title;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  display:block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

/* Footer */

footer {
  position: fixed;
  background:white;
  padding-top:15px;
  border-top: 1px solid #333;
  bottom: 0;
  height:4rem;
  width: 100%;
  display:grid;
  grid-template-columns: 50px 1fr auto 1fr auto 20px;
  grid-template-rows: 4rem 12rem;
  flex-direction: row;
  justify-content: end;
  align-items: baseline;
  transition:all 0.5s ease-in-out;
}

footer.show {
  height: 16rem;
}

footer >.footer-text {
  grid-column: 3 / span 1;
  font-size: 0.9em;
  cursor: pointer;
  font-family: 'Helvetica', sans-serif;
}

footer>.button {
  cursor: pointer;
  grid-column: 5 / span 1;
   font-size: 0.8em;
  font-weight: bold;
}

footer .hide {
  grid-row: 2 / span 1;
  grid-column:  1 / -1;
  justify-self:center;
  max-width:1100px;
  width:100%;
  cursor: pointer;
}

/* Suggested content at the end of the article (lots of tiles and footer)*/

.suggested-content .suggestions-title {
  /*padding: 20px;*/
  margin-top: 0px;
  border-top: 1px solid #333;
  font-family: Arial, Helvetica;
  font-weight: bold;
  font-size: 1.1em;
}

/* Tiles Stile (tiles at end of article) */

.suggested-newsletters {
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
   
}
.suggested-tile {
  display: flex;
  flex-direction:column;
  border: 1px solid #ccc;
  position: relative;
  width: 100%;
  padding: 15px;
  transition: all 0.2 ease;
  cursor: pointer;
}

.suggested-tile:hover {
  box-shadow: 0 3px 3px 1px #ccc;
}
.plus {
  position:absolute;
  display: flex;
  align-items: center;
  margin:15px;
   
  top: 0;
  right:0;
}
 
.plus div:before {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius:50%;
  font-size: xx-large;
  font-size: 25px;
  width:35px;
  height:35px;
  content:"\FF0B";
  transition: all 0.2s ease;
}
.suggested-tile:hover .plus div:before {
  background:#333;
  color:white;
}
.suggested-tile-title {
  padding-top: 5px;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
  font-size: .75em;
  color:#444;
}

.suggested-tile-sub {
  font-weight: bold;
  padding-bottom: 10px;
  font-family:Arial, Helvetica, sans-serif;
}

.suggested-tile-content {
  font-family:Helvetica, Arial, sans-serif;
}


.suggested-tile>img {
  width: 80px;
  margin: 10px;
  grid-area: icon;
}

.see-the-latest {
  margin-top:auto;
  color:#326891;
  font-family:Arial, Helvetica;
  font-size: 0.9em;
  font-weight:600;
  cursor: pointer;
  transition: all 0.2 ease;
}

.see-the-latest:hover {
  text-decoration: underline;

}

/* Most popular list style */
.popular-link  {
  cursor:pointer;
  padding:20px;
  border-top:1px solid #ccc;
  font-weight:500;
}


/* Space and astronomy tiles */

.space-and-astronomy {
  display:grid; 
  justify-content: center;
  grid-template-columns: repeat(3, minmax(100px, 350px));
  grid-gap:20px;
  
}
.tile {
  width:100%;
  
  display:flex;
  flex-direction:column;
}
.tile img{
  width:100%;
}

.tile figcaption {
  align-self: flex-end;
  margin: 5px;
  font-size:0.65em;
  color:#666;
}
.tile time {
  margin-top: 7px;
  font-size: .8em;
  font-family:Arial, Helvetica;
  color:#888;
}

/* multi-column footer list */


.bottom-nav {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 40px;
  margin-top:100px;
  margin-right:50px;
  grid-column: 2 / span 2;
  border-top: 4px double #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
}

.nytimes {
  grid-column: 1 / -2;
  justify-self: left;
  cursor: pointer;
}
.home-page-link {
  justify-self:right;
  font-size: 0.8em;
  color:#326891cc;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;

}
.footer-list {
  grid-row-start: 2;
  display:inline-block;
  padding-left:0;
}
.footer-list>em {
  font-style:normal;
  font-family: Helvetica, sans-serif;
  font-size: 0.85em;
  font-weight: 800;
}

li.foot-element {
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
  margin-top: 10px;
}

li.foot-element:hover {
  text-decoration: underline;
  cursor: pointer;
}
.border-top {
  border-top:1px solid #ccc;
  padding-top:20px;
}

.sub {
  border-left: 1px solid #ccc;
  padding-left:15px;
}

li.subelement {
  font-weight: 800;
  font-size: 1em;
}
.sub img {
  width:20px;
  margin-right:10px;
}

/* media queries */
