/* General */

body {
  max-width: 1366px;
  min-width: 1024px;
}

/* Navbar */

#navbar-container {
  position: relative;
  z-index: 100;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  height: 41px;
  width: 100%;
  padding: 3px 15px;
  margin: 0;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
  border-top: 0.5px solid lightgray;
  border-bottom: 0.5px solid lightgray;
}

#NYT-logo {
  height: 25px;
  width: 225px;
  padding: 5px;
}

.nav-buttons {
  padding: 11px 12px 8px;
  line-height: 11px;
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

#nav-link {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 7.5px;
  letter-spacing: 0.02em;
}

#left-bar {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.nav-icons {
  padding-top: 5px;
  font-weight: 200;
}

/* Header */

#page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 60px;
}

#article-header {
  width: 600px;
}

#main-title {
  font-size: 40px;
  font-weight: 700;
  font-style: oblique;
  line-height: 43px;
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  margin-bottom: 20px;
}

#social-media-header {
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
  height: 32px;
}

#header-image-container {
  width: 945px;
  margin-bottom: 15px;
}

#header-image {
  width: 100%;
  height: 531.5px;
}

.image-caption {
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 15px;
  line-height: 1.25rem;
}

.credit {
  color: #888;
  font-size: 12px;
}

#article-author-date {
  width: 600px;
  margin-bottom: 25px;
}

#author-caption {
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  color: #333;
  font-weight: 600;
  margin-bottom: 25px;
}

#link-author {
  color: inherit;
}

#article-date {
  font-size: 15px;
  font-weight: lighter;
}

/* Article */

.article-text-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.content-paragraph {
  color: #333;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 10px 0;
  width: 600px;
}

.wide-ad {
  height: 250px;
  width: 100%;
  padding: 15px 0;
  margin: 30px 0;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 10px;
  border-top: 1px solid rgb(243, 243, 243);
  border-bottom: 1px solid rgb(243, 243, 243);
  background-color: rgb(247, 247, 247);
  color: #ccc;
  text-align: center;
}

/* Inflation theory Image */

#inflation-theory {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 945px;
  margin: 0 auto;
}

#inflation-content {
  position: relative;
  margin-top: 10px;
}

#inflation-image {
  height: 576px;
  width: 100%;
}

#inflation-credit {
  width: 100%;
}

#inflation-credit > p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  text-align: left;
  color: #333;
  margin: 10px 0;
}

#inflation-text {
  display: grid;
  position: absolute;
  bottom: 0;
  width: 945px;
  height: 576px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "infl-11 infl-12 infl-13 infl-14"
    "infl-21 infl-22 infl-23 infl-24";
}

#inflation-text div {
  padding-top: 65%;
  margin: 2px;
}

#inflation-text p {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
}

#inflation-text span {
  font-weight: 700;
}

/* Video */

.media-container {
  margin: auto;
  width: 600px;
}

.media-container > iframe {
  width: 100%;
  height: 338px;
}

.media-container > figcaption {
  width: 100%;
}

/* Bicep2 Image */

#bicep2-image {
  width: 600px;
  height: 400px;
}

.subtitle {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-weight: 600;
  font-size: 20px;
  width: 600px;
  margin: 15px 0;
}

.summary-text {
  width: 945px;
}

/* Aside Editor's Choice */

.ed-tit {
  grid-area: ed-header;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.ed-img1 {
  grid-area: ed-11;
}

.ed-link1 {
  grid-area: ed-12;
}

.ed-img2 {
  grid-area: ed-21;
}

.ed-link2 {
  grid-area: ed-22;
}

.ed-img3 {
  grid-area: ed-31;
}

.ed-link3 {
  grid-area: ed-32;
}

#editors-choice {
  height: 321px;
  width: 210px;
  position: absolute;
  right: 40px;
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-rows: 29px 1fr 1fr 1fr;
  grid-template-areas:
    "ed-header ed-header"
    "ed-11 ed-12"
    "ed-21 ed-22"
    "ed-31 ed-32";
}

#editors-choice img {
  height: 75px;
  width: 75px;
}

#editors-choice a {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.ed-link1,
.ed-link2,
.ed-link3 {
  padding-left: 8px;
}

.ed-img1,
.ed-img2,
.ed-img3,
.ed-link1,
.ed-link2,
.ed-link3 {
  align-self: center;
}
